.button-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.button-portfolio .item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  text-decoration: none;
  font-family: inherit;
  background: rgb(245, 244, 250);
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: rgb(255, 255, 255);
    background-color: var(--accent-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
