.contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: currentColor;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
}

.header-icons {
  margin-right: 10px;
  fill: currentColor;
}
