.dropdown-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  z-index: 2;
  & .icon-close_24 {
    display: none;
  }
  &.is-open .icon-close_24 {
    display: block;
  }
  &.is-open .icon-menu_24 {
    display: none;
  }
}
.dropdown-button:hover .icon-menu_24,
.dropdown-button:focus .icon-menu_24 {
  fill: rgb(33, 150, 243);
}
.dropdown-button:hover .icon-close_24,
.dropdown-button:focus .icon-close_24 {
  fill: rgb(33, 150, 243);
}
@include mq(tablet) {
  .dropdown-button {
    display: none;
  }
}
