/*logo*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-cl);
  padding-top: 16px;
  padding-bottom: 16px;

  @include mq(desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}
@include mq(desktop) {
  .logo-header {
    margin-right: 93px;
  }
}
.logo-black {
  color: rgb(0, 0, 0);
}
.logo-white {
  color: rgb(255, 255, 255);
}
