.navigation-for-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  height: 100%;

  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mq(tablet) {
      display: none;
    }
  }
}

.navigation-for-mobile__list {
  padding-top: 48px;
}
.navigation-for-mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation-for-mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-left: 40px;
  color: rgb(33, 33, 33);
  text-decoration: none;
}
.mobile-contacts__item {
  margin-left: 40px;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-contacts__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  text-decoration: none;
  letter-spacing: 0.02em;

  color: rgb(33, 150, 243);
}

.mobile-contacts__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: rgb(117, 117, 117);
}
.mobile-social-networks {
  display: flex;
  margin-top: 64px;
  margin-left: 40px;
  margin-bottom: 48px;
}
.mobile-social-networks__item:not(:last-child) {
  margin-right: 10px;
}
.mobile-social-networks__link--after::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}

.mobile-social-networks__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: rgb(33, 150, 243);
}
