:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --accent-cl: rgb(33, 150, 243);
  --main-txt-cl: rgba(117, 117, 117, 1);
  --secondary-txt-cl: rgb(33, 33, 33);
}
