/*portfolio*/

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
}
.list-portfolio .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.link-portfolio {
  display: block;
  color: currentColor;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.window-description-projects {
  position: relative;
  overflow: hidden;
}
.link-portfolio:hover .window-description-projects,
.link-portfolio:focus .window-description-projects {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.description-portfolio {
  position: absolute;
  left: 0;
  top: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  border: 1px solid #000000;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(294px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio:hover .description-portfolio,
.link-portfolio:focus .description-portfolio {
  transform: translateY(0);
}

.description-projects {
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}

.portfolio-projects {
  padding: 20px 24px;
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
}

.Our-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--secondary-txt-cl);
}
.project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
