/*section-1*/
.section-one {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mob-img.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mob-img@2x.jpg);
  }

  @include mq(tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tab-img.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tab-img@2x.jpg);
    }
  }

  @include mq(desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/title.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/title2x.jpg);
    }
  }
}

.table-of-contents {
  margin-left: auto;
  margin-right: auto;

  @include mq(mobile) {
    width: 360px;
  }
  @include mq(desktop) {
    width: 696px;
  }
}
.title {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;

  font-size: 26px;
  line-height: 1.62;

  @include mq(desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
